# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env
.venv/
venv/
env/

# IDEs/Editors
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/


